.App {
  text-align: center;
}

.create-user {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.link:hover {
  color: rgb(145, 145, 145);
}

.heading-div {
  width: 100vw;
  height: max-content;
}

.h2 {
  text-align: center;
}

.create-user-main {
  font-size: 20px;
  margin-top: 12px;
  margin-left: 10px;
  width: 230px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  color: white;
  background-color: #4e4e4e;
  border-radius: 8px;
  box-shadow: 2px 2px 6px rgba(100,100,100,.4);
}


label, input {
  margin-top: 6px;
  margin-left: 8px;
  width: 200px;
}


input {
  font-size: 16px;
}

select, #submit {
  padding: 2px;
  font-size: 16px;
  margin-left: 8px;
  width: max-content;
}

#submit {
  margin-top: 20px;
  padding: 4px 16px 4px 16px;
  font-size: 14px;
}